
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="row">
    <form id="frm1" role="form" >
        <div class="form-group">
            <div id="error"> </div>
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input id="Time" type="time" class="form-control">
            <span class="error">Time Filed is Required.</span>
        </div>

        <div class="form-group">
            <label class="control-label"></label>
            <input id="MyDate" value="" class="form-control" required />
            <span class="error">Date Filed is Required.</span>
        </div>

        <div class="form-group">
            <label class="control-label"></label>
            <select id="TimeZoneList" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-primary" id="ConvertTimeZone" />
        </div>
    </form>
</div>
<div class="row">
    <div id="AddCss" style="display:none">
        <h2>Converted Date and Time</h2>
        <b id="resultTimeZone"></b>
    </div>
</div>

<script>
    $('#MyDate').datepicker();
    const commonUrl = @Json.Serialize(@Configuration.GetSection("Url").GetSection("commonUrl").Value);

    $(document).ready(function () {
         $('.error').hide();
        $.ajax({
            type: "GET",
            url: commonUrl + "api/ConverterApi/GetTimeZone/",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var timeZoneList = '<option value="-1" disabled>Please Select a Time Zone</option>';
                for (var i = 0; i < data.length; i++) {
                    timeZoneList += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                }
                $("#TimeZoneList").html(timeZoneList);

            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });

         $('#frm1').submit(function (e) {  
            e.preventDefault();  
            var isOK = ValidateForm();  
            if (isOK) {  
                var model = {  
                    Time : $("#Time").val().trim(),
                    MyDate : $("#MyDate").val().trim(),
                    ConvertTo : $("#TimeZoneList").val().trim()
                };  
                $.ajax({
                    url: commonUrl + "api/ConverterApi/ConvertRequest",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    success: function (result, status, xhr) {
                        $("#AddCss").removeAttr('style');
                        $("#resultTimeZone").html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            }  
        });  
    });

    //$("#ConvertTimeZone").click(function (e) {
    //    $.ajax({
    //        url: commonUrl + "api/ConverterApi/ConvertRequest",
    //        type: "POST",
    //        contentType: "application/json; charset=utf-8",
    //        data: JSON.stringify({
    //            Time : $("#Time").val(),
    //            MyDate : $("#MyDate").val(),
    //            ConvertTo : $("#TimeZoneList").val()
    //        }),
    //        success: function (result, status, xhr) {
    //            $("#AddCss").removeAttr('style');
    //            $("#resultTimeZone").html(result);
    //        },
    //        error: function (xhr, status, error) {
    //            console.log(xhr)
    //        }
    //    });
    //});

    function ValidateForm() {  
        var isAllValid = true;  
        $('.error').hide();  
        $('#error').empty();  
        $('.form-group').removeClass('has-error');  
        if ($('#MyDate').val().trim()=="") {  
            $('#MyDate').focus();  
            $('#MyDate').siblings('.error').show();  
            $('#MyDate').parents('.form-group').addClass('has-error');  
            isAllValid = false;  
        }  
        if ($('#Time').val().trim() == "") {  
            $('#Time').focus();  
            $('#Time').siblings('.error').show();
            $('#Time').parents('.form-group').addClass('has-error');  
            isAllValid = false;  
        }  
        return isAllValid;  
    }  
</script>